app/src/jade/admin/panel.jade
doctype html
html(lang='es')
  head
    include ../global-Component/header
    title Banquet au gout
  body
    header#top-title
      include menu-superior
    .container
      .row
        .col-md-2
          include menu-lateral-panel
        .col-md-10
          include panel/panel-account
    include ../global-Component/alerts-components
    include ../global-Component/loading-components
    include ../global-Component/footer
    script(src='js/control.js')

app/dist/themes/default/panel.html
<!DOCTYPE html><html lang="es"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><link href="http://fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet" type="text/css"><link rel="stylesheet" href="css/bootstrap.min.css"><link rel="stylesheet" href="css/bootstrap-theme.min.css"><link rel="stylesheet" href="css/theme.delisius.css"><link rel="stylesheet" href="css/animate.css"><script src="js/general-control.js"></script><title>Banquet au gout</title></head><body><header id="top-title"><h1 class="animated bounceIn">Panel de control</h1><nav class="menu-bar-lit animated bounceIn"><!--Inventario --><ul class="nav nav-pills"><li><a href=".">Portada</a></li><li><a href="#OutLogin">Cerrar cesión</a></li></ul></nav></header><div class="container"><div class="row"><div class="col-md-2"><h3>Menú</h3><ul class="nav nav-pills nav-stacked"><li><a href="#account-panel"><i class="glyphicon glyphicon-user"></i> Mi cuenta</a></li><li><a href="#newUsers"><i class="glyphicon glyphicon-time"></i> Mis pedidos</a></li><li><a href="#sessions">&times;
Cerrar cession</a></li></ul></div><div class="col-md-10"><div id="account-panel" class="panel-control panel panel-default animated fadeIn"><div class="panel-body"><ol class="breadcrumb"><li>Panel</li><li class="active">Mi cuenta </li></ol><h1>account-panel</h1></div></div></div></div></div><div id="alerts"><div remove-out-class="animated flipInX" out-class="animated flipOutX" role="model" class="alert alert-disabled animated flipInX"><button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button></div></div><script>window.ale = new window.alerts("#alerts");</script><div id="machineLoading" class="animated fadeIn progress progress-striped active"><div role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%;" class="progress-bar progress-bar-info"><span class="sr-only">Cargando...</span></div></div><script>window.load = new window.loading("#machineLoading");</script><footer><hr><div class="container"><p class="pull-right"><a href="privacy-policy.html">Política de privacidad</a> | <a href="terms-and-conditions.html">Términos y Condiciones</a></p><p>© 2014 <a href="#" target="_blank">Banquet au goût</a></p></div></footer><script src="js/control.js"></script></body></html>
