app/src/jade/eventos.jade
doctype html
html(lang='es')
  head
    include global-Component/header
    title Banquet au gout
  body
    include global-Component/header-public

    .container
      .title
        hr
        h2 Nuestros eventos
        hr
      p.lead.text-center Te mostramos algunas de nuestras decoraciones

      h3 
      hr
      // nightlife

      div.row
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/800/nightlife/1")
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/800/nightlife/2")
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/800/nightlife/3")
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/800/nightlife/4")
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/800/nightlife/5")
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/800/nightlife/6")
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/800/nightlife/7")
        .col-sm-6.col-md-3
          .thumbnail
            img(src="http://lorempixel.com/400/800/nightlife/8")
    include global-Component/alerts-components
    include global-Component/loading-components
    include global-Component/footer
    

app/dist/themes/default/eventos.html
<!DOCTYPE html><html lang="es"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><link href="http://fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet" type="text/css"><link rel="stylesheet" href="css/bootstrap.min.css"><link rel="stylesheet" href="css/bootstrap-theme.min.css"><link rel="stylesheet" href="css/theme.delisius.css"><link rel="stylesheet" href="css/animate.css"><script src="js/general-control.js"></script><title>Banquet au gout</title></head><body><header id="top"><div class="logotipo text-center"><img src="img/logo.png" alt="" class="animated bounceIn"></div><nav class="menu-bar animated bounceIn"><div class="container"><div class="row text-center"><div class="col-sm-2"><a href="index.html">Portada</a></div><div class="col-sm-2"><a href="menus.html">Menús</a></div><div class="col-sm-2"><a href="eventos.html">Eventos</a></div><div class="col-sm-2"><a href="nosotros.html">Nosotros</a></div><div class="col-sm-2"><a href="contacto.html">Contacto</a></div><div class="col-sm-2"><a href="login.html#flogin">Acceder</a></div></div></div></nav></header><div class="container"><div class="title"><hr><h2>Nuestros eventos</h2><hr></div><p class="lead text-center">Te mostramos algunas de nuestras decoraciones</p><h3></h3><hr><!-- nightlife--><div class="row"><div class="col-sm-6 col-md-3"><div class="thumbnail"><img src="http://lorempixel.com/400/800/nightlife/1"></div></div><div class="col-sm-6 col-md-3"><div class="thumbnail"><img src="http://lorempixel.com/400/800/nightlife/2"></div></div><div class="col-sm-6 col-md-3"><div class="thumbnail"><img src="http://lorempixel.com/400/800/nightlife/3"></div></div><div class="col-sm-6 col-md-3"><div class="thumbnail"><img src="http://lorempixel.com/400/800/nightlife/4"></div></div><div class="col-sm-6 col-md-3"><div class="thumbnail"><img src="http://lorempixel.com/400/800/nightlife/5"></div></div><div class="col-sm-6 col-md-3"><div class="thumbnail"><img src="http://lorempixel.com/400/800/nightlife/6"></div></div><div class="col-sm-6 col-md-3"><div class="thumbnail"><img src="http://lorempixel.com/400/800/nightlife/7"></div></div><div class="col-sm-6 col-md-3"><div class="thumbnail"><img src="http://lorempixel.com/400/800/nightlife/8"></div></div></div></div><div id="alerts"><div remove-out-class="animated flipInX" out-class="animated flipOutX" role="model" class="alert alert-disabled animated flipInX"><button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button></div></div><script>window.ale = new window.alerts("#alerts");</script><div id="machineLoading" class="animated fadeIn progress progress-striped active"><div role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%;" class="progress-bar progress-bar-info"><span class="sr-only">Cargando...</span></div></div><script>window.load = new window.loading("#machineLoading");</script><footer><hr><div class="container"><p class="pull-right"><a href="privacy-policy.html">Política de privacidad</a> | <a href="terms-and-conditions.html">Términos y Condiciones</a></p><p>© 2014 <a href="#" target="_blank">Banquet au goût</a></p></div></footer></body></html>
