app/src/jade/nosotros.jade
doctype html
html(lang='es')
  head
    include global-Component/header
    title Banquet au gout
  body
    include global-Component/header-public
    .container
      .title
        hr
        h2 Nosotros
        hr
      .row
        .col-md-7
          p.lead
            | ¿Quiénes somos?, somos una empresa de Banquetearía que se ajusta a tu bolsillo, ofrecemos diferentes paquetes los cuales  están amoldados  A TI.
            | Nosotros estamos orientados a la decoración de tu meza y presentar un exquisito menú orientado a un pequeño o mediano evento.
          p
            | Nuestra misión es brindar la mejor experiencia para nuestros clientes como sus invitados ofreciendo una gran variedad de servicios, con los cuales  se sentirá a gusto.
          p
            | Nuestra visión será aumentar nuestros servicios a otro tipo de eventos y agregar más variedad de productos, todo con la misma calidad y dedicación que nosotros ofrecemos.
        .col-md-5
          img.img.img-responsive.hidden-sm.hidden-xs(src="http://lorempixel.com/400/600/business/")



    include global-Component/alerts-components
    include global-Component/loading-components
    include global-Component/footer
    

app/dist/themes/default/nosotros.html
<!DOCTYPE html><html lang="es"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><link href="http://fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet" type="text/css"><link rel="stylesheet" href="css/bootstrap.min.css"><link rel="stylesheet" href="css/bootstrap-theme.min.css"><link rel="stylesheet" href="css/theme.delisius.css"><link rel="stylesheet" href="css/animate.css"><script src="js/general-control.js"></script><title>Banquet au gout</title></head><body><header id="top"><div class="logotipo text-center"><img src="img/logo.png" alt="" class="animated bounceIn"></div><nav class="menu-bar animated bounceIn"><div class="container"><div class="row text-center"><div class="col-sm-2"><a href="index.html">Portada</a></div><div class="col-sm-2"><a href="menus.html">Menús</a></div><div class="col-sm-2"><a href="eventos.html">Eventos</a></div><div class="col-sm-2"><a href="nosotros.html">Nosotros</a></div><div class="col-sm-2"><a href="contacto.html">Contacto</a></div><div class="col-sm-2"><a href="login.html#flogin">Acceder</a></div></div></div></nav></header><div class="container"><div class="title"><hr><h2>Nosotros</h2><hr></div><div class="row"><div class="col-md-7"><p class="lead">¿Quiénes somos?, somos una empresa de Banquetearía que se ajusta a tu bolsillo, ofrecemos diferentes paquetes los cuales  están amoldados  A TI.
Nosotros estamos orientados a la decoración de tu meza y presentar un exquisito menú orientado a un pequeño o mediano evento.</p><p>Nuestra misión es brindar la mejor experiencia para nuestros clientes como sus invitados ofreciendo una gran variedad de servicios, con los cuales  se sentirá a gusto.</p><p>Nuestra visión será aumentar nuestros servicios a otro tipo de eventos y agregar más variedad de productos, todo con la misma calidad y dedicación que nosotros ofrecemos.</p></div><div class="col-md-5"><img src="http://lorempixel.com/400/600/business/" class="img img-responsive hidden-sm hidden-xs"></div></div></div><div id="alerts"><div remove-out-class="animated flipInX" out-class="animated flipOutX" role="model" class="alert alert-disabled animated flipInX"><button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button></div></div><script>window.ale = new window.alerts("#alerts");</script><div id="machineLoading" class="animated fadeIn progress progress-striped active"><div role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%;" class="progress-bar progress-bar-info"><span class="sr-only">Cargando...</span></div></div><script>window.load = new window.loading("#machineLoading");</script><footer><hr><div class="container"><p class="pull-right"><a href="privacy-policy.html">Política de privacidad</a> | <a href="terms-and-conditions.html">Términos y Condiciones</a></p><p>© 2014 <a href="#" target="_blank">Banquet au goût</a></p></div></footer></body></html>
